<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<meta id="spotify_uri" data-name="{{spotify_uri}}" data-other="{{spotify_uri}}">
	<input type="file" accept="audio/*" capture id="recorder">
	<audio id="player" controls></audio>
	<script>
	  const recorder = document.getElementById('recorder');
	  const player = document.getElementById('player');

	  recorder.addEventListener('change', function(e) {
		const file = e.target.files[0];
		const url = URL.createObjectURL(file);
		// Do something with the audio file.
		player.src = url;
		var formData = new FormData();
		formData.append("wav_file", file);
		jQuery.ajax({
        type: 'POST',
        url:"http://localhost:5000/upload_audio",
        data: formData,
        processData: false,
        contentType: false,
        success: function(returnval) {
             console.log(returnval);
         }
    });
	  });
	</script>

	<div class="container-fluid" id="playerContainer">
		<table class="table table-striped" id="emotion_table">
			<thead>
				<tr>
					<th scope="col"> Transcription </th>
					<th scope="col"> Text-to-Sentiment Values </th>
					<th scope="col"> Speech-to-Sentiment Values </th>
					<th scope="col"> Chosen Emotion </th>
				</tr>
			</thead>
			<tbody id="table-body">
			</tbody>
		</table>
		
		<!--
			<div id="stateContainer"> </div>
		<div class="atmosphereContainer">
		<h1 id="title"> Atmosphere </h1>
		<div class="buttonContainer">
			<button> << </button>
			<button onclick="playPlayer()"> Play </button>
			<button onclick="pausePlayer()"> Pause </button>
			<button> >> </button>
		</div>
		</div>
		-->
	</div>
</body>
<script>
	const endpoint = 'http://localhost:5000/audio';
	var access_token = '{{ access_token }}';
	var refresh_token = '{{ refresh_token }}';
	var current_state = '';

	function displayJson(json){
		html = ''
		for (let i = 0; i < json.length; i++){
			if (i == 0){
				html += '<span style="color: red">';
				html+= json[i];
				html += '</span>'
				html+='<br>'
			}
			else{
				html += json[i];
				html+= '<br>'
			}
		}
		return html;
	}

	function analyzeAtmosphere(){
		$.post(
			endpoint,
			{
				'refresh_token': refresh_token,
				'current_state': current_state

			},
			function(data){
				console.log(data)
				access_token = data.access_token
				refresh_token = data.refresh_token
				if (data.current_state != ''){
					current_state = data.current_state;
					text_to_sentiment_emotion = data.text_to_sentiment_emotion;
					speech_to_sentiment_emotion = data.speech_to_sentiment_emotion;
					transcription = data.transcription;

					tts_emotion_html = displayJson(text_to_sentiment_emotion);
					sts_emotion_html = displayJson(speech_to_sentiment_emotion);

					html = '<tr><td>' + transcription + '</td><td>' + tts_emotion_html + '</td><td>' + sts_emotion_html + '</td><td>' + current_state + '</td></tr>'
					$('#emotion_table').append(html)

				}
			}
		).fail(function(){
			console.log('error')
		});
		
	}

	analyzeAtmosphere();
	setInterval(analyzeAtmosphere, 40000)
	
	function pausePlayer(){
		const url = "http://localhost:5000/pause"
		$.post(
			url,
			function(data){
				console.log(data)
			}
		)
	}


 </script>
</html>